<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="~/Images/project/searchCity.png" />
    <title>City Guide</title>

    <!-- added for google maps  -->
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDMoG3Iw02-c0KRqMi08lkdJStyXW3CNc0&sensor=true_OR_false"></script>

    <!--  added for guide main page  -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">

    <!--  fonts and style.css  -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/Style.css" rel="stylesheet" />

    <!--  bootstrap dosyaları  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--  jquery dosyaları  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <!--
      toast mesajları için yazdığım javascript fonksiyonlarının bulunduğu script dosyası
    -->
    <script src="~/Scripts/toastrImp.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("City Guide", "Index", "CityGuide", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - City Guide Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/toastr")
</body>
</html>
